<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1054000009858-j9r8ieqqrc9m1fag38o540d0fnqmhtlb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1054000009858-j9r8ieqqrc9m1fag38o540d0fnqmhtlb</string>
	<key>API_KEY</key>
	<string>AIzaSyDGkzqT9uNx0h1tIiAx9b3fuMwt0F9r4HI</string>
	<key>GCM_SENDER_ID</key>
	<string>1054000009858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.connorsvrcek.career</string>
	<key>PROJECT_ID</key>
	<string>careerline-7c886</string>
	<key>STORAGE_BUCKET</key>
	<string>careerline-7c886.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1054000009858:ios:6685ec3f479bd4dc</string>
	<key>DATABASE_URL</key>
	<string>https://careerline-7c886.firebaseio.com</string>
</dict>
</plist>